grant codeBase "file:C:/Users/giova/OneDrive/Documentos/Faculdade/CD/Trabalho_Final/computeEngine/" {
    permission java.net.SocketPermission "localhost:*", "connect,resolve";
    permission java.security.AllPermission;
};